shim-version: v0.3.11@sha256:c38fcc5db743dddf5dc986f67da8732b8a6c473e0e8e54d63826f46da278e290
cvm-version: 0.4.15
cpus: 32
memory: 524288
gpus: full
vllm: false

models:
  - name: "deepseek-v31-terminus"
    repo: "deepseek-ai/DeepSeek-V3.1-Terminus@19510d6dc61f79dbd925bd51ee8a9081c509a4b6"
    mpk: "0289583410dc6377d761a9c1b8317688f717b304314100d070a508729e04fe2c_688606003200_82dadf78-da7b-572b-bfad-4a2c69558a0a"
  
containers:
  - name: "deepseek-v31-terminus"
    image: ""
    args: [
      "--runtime", "nvidia",
      "--gpus", "all",
      "--ipc", "host",  
      "vllm/vllm-openai:v0.11.2@sha256:2c908d5a84ed251b6a17d179f42d06df1aff353007779ac5eecd8a0ea3fe9331",
      "--model", "/tinfoil/mpk/mpk-0289583410dc6377d761a9c1b8317688f717b304314100d070a508729e04fe2c",
      "--enable-expert-parallel",
      "--tensor-parallel-size", "8",
      "--max-model-len", "65536",
      "--served-model-name", "deepseek-v31-terminus",
      "--enable-auto-tool-choice",
      "--tool-call-parser", "deepseek_v31",
      "--chat-template", "examples/tool_chat_template_deepseekv31.jinja",
      "--port", "8001"
    ]

shim:
  listen-port: 443
  upstream-port: 8001
  publish-attestation: false
  tls-challenge: dns  
  control-plane: https://api.tinfoil.sh
  paths:
    - /v1/chat/completions
    - /metrics
    - /health
